
<section class="receipt">
	<h3>Your order has been confirmed.</h3>

	<p>Kit Summary:</p>

	<p>Special kit considerations:</p>

	<p>Billing Address:</p>

	<p>Shipping Address:</p>

	<p>Payment:</p>

	<h4>We have sent an email to ___.</h4>

	<h3>Please feel free to email us at Kits@StageManagementSupplies.com with any further inquiries, suggestions, or lovely comments.</h3>

	<h2>Happy Stage Managing!</h2>

</section>