<section class="FAQ white">
	<div class ="container">

		<h3>FAQ:</h3>

		<p class="question">Q: How is my kit packaged?</p>
		<p class="answer">A: Most of your kit is able to come prepackaged in its container. Some packaging material is added for padding purposes, but we try to keep the shipping box as compact as is reasonable.</p>

		<p class="question">Q: What if I want to modify my kit contents?</p>
		<p class="answer">A: You can request minor adjustments during the checkout process.  While compiling your kit, we will try to accomodate your requests, but we can offer no guarantees.  If we cannot make the adjustments you request, we will notify you by email, and continue fulfilling your order.</p>

		<p class="question">Q: Do you have smaller kit packages available?</p>
		<p class="answer">A: We are in the process of developing smaller kit packages for those that are looking to add small collections to their existing kits. To do this, we need your feedback. Please let us know if this is of interest to you by emailing us at Kits@StageManagementSupplies.com.  <br>Thank you in advance for your input.</p>

		<p class="question">Q: Do you offer returns?</p>
		<p class="answer">A: We are sorry, we cannot process returns at this time.</p>

		<p class="question">Additional questions?</p>
		<p class="answer">Email us at Kits@StageManagementSupplies.com for an answer. We may even end up adding the answer to this FAQ section.  If we do, thanks for helping us improve the site for future stage managers and the people that love them.</p>

	</div>

</section>