

<%= render 'layouts/main_images' %>

<h3 class="description">Prepackaged stage management kits, including everything from pencils to "lend" actors to spike tape and a multitool.  We package it. You stage manage.</h3>

<section class="product_contents">
	<h4>What's in it?</h4>
	<p class="category_name">Category 1</p>

	<p class="category_name">Category 2</p>

	<p class="category_name">Category 3</p>
</section><!-- end .product_description -->


<section class="action_button align_center">
	<button class="btn btn-lg btn-success">Get My Own</button>
</section><!-- end .product_description -->


