

<section class="main_images">
	<%= render 'layouts/main_images' %>
</section><!-- end .main_images -->

<h3 class="description">Prepackaged stage management kits, including everything from pencils to "lend" actors to spike tape and a multitool.  We package it. You stage manage.</h3>

<section class="product_contents">

</section><!-- end .product_description -->

<section class="action_button">
	TODO: Button rails path
	<button class="btn btn-lg btn-success">Get Yours</button>
</section><!-- end .product_description -->


