

<%= render 'layouts/main_images' %>

<%= render 'layouts/description' %>

<!-- <section id="test-area" class="align-center">
	<p id="click-this"><button class="btn btn-warning">TODO: Erase This Area</button></p>
	<p id="drop-this">This should toggle after clicking above erase area.</p>
</section> -->

<%= render 'layouts/product_contents' %>

<%= render 'layouts/action_button' %>


