

<h1> Stage Management Kits</h1>

<h2>tagline</h2>

<h3>more info</h3>


<section class="product_description">

</section><!-- end .product_description -->

<section class="product_contents">

</section><!-- end .product_description -->

<section class="action_button">
	TODO: Button rails path
	<button class="btn btn-lg btn-success">Get Yours</button>
</section><!-- end .product_description -->


