
<section class="order_summary gray">
	<div class ="container">
		<h3>Order Summary</h3>
	</div>
</section><!-- end .order_summary -->

<section class="payment_details white">
	<div class ="container">
		<h3>Payment Details</h3>
	</div>
</section><!-- end .payment_details -->

<section class="shipping_details gray">
	<div class ="container">
		<h3>Shipping Details</h3>

		<p>We offer free shipping in the US.</p>
		Checkbox: I am shipping outside the USA. 
		JQuery: drop down add payment method and ruby addition to cost to update payment method</p>
	</div>
</section><!-- end .shipping_details -->

<section class="FAQ white">
	<div class ="container">

		<h3>FAQ:</h3>

		<p class="question">Q: How is my kit packaged?</p>
		<p class="answer">A: ...</p>

		<p class="question">Q: What if I want to modify my kit contents?</p>
		<p class="answer">A: You can modify some of what's in the kit. We do not offer discounts for modifying the kit by decreasing the amount of items included.</p>

		<p class="question">Q: Do you have smaller kit packages available?</p>
		<p class="answer">A: In progress. Let us know that this is of interest to you by emailing us at Kits@StageManagementSupplies.com</p>

		<p class="question">Additional questions?</p>
		<p class="answer">Email us at Kits@StageManagementSupplies.com for an answer. We may even add it to this FAQ section.  If we do, thanks for helping us improve the site for future stage managers and the people that love them.</p>

	</div>

</section>



