
<section class="payment_details gray">
	<div class ="container">
		<h3>Payment Details</h3>
	</div>
</section><!-- end .payment_details -->

<section class="shipping_details white">
	<div class ="container">
		<h3>Shipping Details</h3>

		<p>We offer free shipping in the US.</p>
		Checkbox: I am shipping outside the USA. 
		JQuery: drop down add payment method and ruby addition to cost to update payment method</p>
	</div>
</section><!-- end .shipping_details -->


<section class="order_summary gray">
	<div class ="container">
		<h3>Order Summary</h3>
	</div>
</section><!-- end .order_summary -->

<section class="action_button align_center">
	<br>
	<button class="btn btn-lg btn-danger">Complete Order</button>
</section><!-- end .action_button -->



