/*Developed by Virgo Ventures
team@virgoventures.org*/

/*insert bootstrap sass adjustmenets below*/


$navbar-default-link-hover-bg: none;

@import "bootstrap";

/*Below are main css edits*/

a {
	color: rgb(155,59,56);
}

a:hover {
	font-weight: bold;
	text-decoration: none;
	color: red;
}

.action_button {
	margin: 20px;
}

.align_center {
	text-align: center;
}

body {
	font-family: 'Poiret One', cursive;
	font-weight: bolder;
	font-size: 1.8em;
}

.border {
	border: 2px solid black;
}

.btn-lg {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Poiret One', times;
}

.category_name {
	font-weight: bold;
	font-size: 1.2em;
}

.description {
	
}

footer {
	background: #eee;
	padding: 20px 10px 10px 10px;
}

footer ul {
	list-style: none;
}

footer ul li {
	display: inline;
	padding: 5px;
}

h1 {
	font-family: 'Euphoria Script', cursive;
	font-size: 4.5em;
	text-align: center;
	text-indent: -0.2em;
}

h2 {
	margin-top: 0em;
	text-align: center;
}

h4 {
	font-size: 1.5em;
	font-weight: bold;
}

.half {
	width: 50%;
}

.headers {

}

.image {
	margin: 5px;
}

.main_images {
	margin: 10px 0 10px 0;
}

.navbar {
	background: #eee;
	height: 4em;
}

.navbar ul {
	display: inline;
	text-align: right;
	float: right;
	list-style: none;
	display: block;
	position: relative;
	top: 0.8em;
	bottom: 0.2em;
}

.navbar ul li {
	float: left;
	padding: 6px;
	padding-left: 8px;
}

.navbar ul :hover {
	background: none;
}

.product_contents {
	background: #eee;
	padding: 25px;
}

.red {
	color: rgb(155,59,56);
}

.social_media img {
	width: 30px;
}

.tagline {

}