/*Developed by Virgo Ventures
team@virgoventures.org*/

/*insert bootstrap sass adjustmenets below*/


@import "bootstrap";

/*Below are main css edits*/


.action_button {
	margin: 20px;
}

.align_center {
	text-align: center;
}

body {
	/*font-family: 'Raleway Dots', cursive;*/
	font-family: 'Poiret One', cursive;
	font-weight: bolder;
	font-size: 1.8em;
}

.border {
	border: 2px solid black;
}

.btn-lg {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Poiret One', times;
}

.category_name {
	font-weight: bold;
}

.description {
	
}

footer ul {
	list-style: none;
}

footer ul li {
	display: inline;
	padding: 5px;
}

h1 {
	font-family: 'Euphoria Script', cursive;
	font-size: 4.5em;
	text-align: center;
	text-indent: -0.2em;
}

h2 {
	margin-top: 0em;
	text-align: center;
}

.headers {
	margin-top: -3em;
}

.main_images {
	margin: 10px 0 10px 0;
}

.navbar {

}

.product_contents {
	background: #eee;
	padding: 25px;
}

.social_media img {
	width: 30px;
}

.tagline {

}