<br>
<section class="action_button align_center">
	<div class="container">
		<%= link_to "GO", order_page_path, class: "btn btn-lg btn-danger" %>
	</div><!-- end .container -->
</section><!-- end .product_description -->