<section class="action_button align_center">
	<div class="container">
		<button class="btn btn-lg btn-success">Reserve My Kit</button>
	</div><!-- end .container -->
</section><!-- end .product_description -->