<span class="vis-xs-block hidden-sm hidden-md hidden-lg">
	<!-- down arrow above -->
	<span class="down-arrow">
		<i class="fa fa-angle-down custom" ></i>
	</span>


	<!-- down arrow below -->
	<span class="up-arrow">
		<i class="fa fa-angle-up custom" ></i>
	</span>
</span>