<footer class="align_center">
	<div class="container">
		<p>Stage Management Kits are created by <%= link_to 'Virgo Ventures', href: 'http://virgoventures.org/', target: '_none' %>. whose owner is a Stage Manager turned Entrepreneur.</p>
		<section class="social_media">
			<ul>
				<%= render 'layouts/social_media' %>
			</ul>
		</section>
		<p>Contact us by emailing Kits@StageManagerSupplies.com</p>
	</div><!-- end .container -->
</footer>