<br>

<footer class="align_center">
	<div class="container">
		<p>StageManagementSupplies.com is created by <%= link_to 'Virgo Ventures', href: 'http://virgoventures.org/', target: '_none' %>. and owned by a Stage Manager turned Entrepreneur / Web Developer.</p>
		<section class="social_media">
			
			<%= render 'layouts/social_media' %>
			
		</section>
		<p><%= link_to "FAQ", faq_path %> &nbsp;|&nbsp; <%= link_to "Privacy and Terms", privacy_and_terms_path %></p>
		<p>Contact us by emailing Kits@StageManagementSupplies.com</p>
	</div><!-- end .container -->
</footer>