<section class="headers">
	<div class="container">
		<h1>Stage Management Kits</h1>

		<h2 class="tagline">We&nbsp;get&nbsp;your&nbsp;gear.&nbsp;  You&nbsp;run&nbsp;the&nbsp;show.</h2>

		<hr class="half">
		<br>
	</div><!-- end .container -->
</section><!-- end .headers section -->