
<section class="main_images">

	<div class="row"><!-- row #1 for .main_images -->
		<!-- images are 2448px tall., using the "real illusion" classic filter in Fotor app -->
		<div class="col-xs-4">
			<%= image_tag 'smkit_1', class: 'img-responsive image' %>
		</div>

		<div class="col-xs-8">
			<%= image_tag 'smkit_2', class: 'img-responsive image' %>
		</div>

	</div><!-- end .row for .main_images row #1 -->


	<div class="row"><!-- row #2 for .main_images -->
		
		<div class="col-xs-8">
			<%= image_tag 'smkit_3', class: 'img-responsive image ' %>
		</div>

		<div class="col-xs-4">
			<%= image_tag 'smkit_4', class: 'img-responsive image ' %>
		</div>

	</div><!-- end .row for .main_images -->

</section><!-- end .main_images -->