
<section class="main_images">

	<div class="row"><!-- row #1 for .main_images -->
		<!-- images are 2448px tall., using the "real illusion" classic filter in Fotor app -->
		<div class="col-xs-4 col-sm-2">
			<%= image_tag 'smkit_1_v2', class: 'img-responsive image' %>
		</div>

		<div class="col-xs-8 col-sm-4">
			<%= image_tag 'smkit_2_v2', class: 'img-responsive image' %>
		</div>	
		
		<div class="col-xs-8 col-sm-4">
			<%= image_tag 'smkit_3_v2', class: 'img-responsive image' %>
		</div>

		<div class="col-xs-4 col-sm-2">
			<%= image_tag 'smkit_4_v2', class: 'img-responsive image' %>
		</div>

	</div><!-- end .row for .main_images -->

</section><!-- end .main_images -->