<div class="row"><!-- row #1 for .main_images -->
	
	<div class="col-md-4">
		insert main main imgae here
	</div>

	<div class="col-md-8">
		insert longer image here
	</div>

</div><!-- end .row for .main_images row #1 -->


<div class="row"><!-- row #2 for .main_images -->
	
	<div class="col-md-8">
		insert longer second row imgae here
	</div>

	<div class="col-md-4">
		insert smaller second row image here
	</div>

</div><!-- end .row for .main_images -->