
<section class="main_images">

	<div class="row"><!-- row #1 for .main_images -->
		
		<div class="border col-sm-4">
			main main image
		</div>

		<div class="border col-sm-8">
			longer image
		</div>

	</div><!-- end .row for .main_images row #1 -->


	<div class="row"><!-- row #2 for .main_images -->
		
		<div class="border col-sm-8">
			longer second row image
		</div>

		<div class="border col-sm-4">
			smaller second row image
		</div>

	</div><!-- end .row for .main_images -->

</section><!-- end .main_images -->