<section class="navbar">
<!-- bootstrap nav layout -->
<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h4 class="navbar-brand hidden-xs">StageMangagementSupplies.com</h4>
    </div>

     <ul class="nav navbar-nav navbar-right social_media">
        <%= render 'layouts/social_media' %>
     </ul>

  </div><!-- /.container-fluid -->
</nav>
<!-- bootstrap nav layout -->
</section><!-- end .navbar -->