<div class="container">
	<!-- Note that clickable button is in navbar partial "Newsletter" link -->
	<div class="modal fade" id="modal-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-heading">SM Supplies Newsletter</h3>
				</div><!-- end .modal-header -->
				<div class="modal-body">
				    TODO: Put Sign up newsletter content here
				</div><!-- end .modal-body -->
				<div class="modal-footer">
 					TODO: Subscribe button.
				</div><!-- end .modal-footer -->
			</div><!-- end .modal-content-->
		</div><!-- end .modal-dialog -->
	</div><!-- end .modal -->
</div><!-- end .container -->