<section class="product_contents">
	<div class="container">

		<h4>So what's in it?</h4>
		<div class="row align_center">
			<div class="col-sm-4">
				<p class="category_name">Category 1</p>
				<ul>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<p class="category_name">Category 2</p>
				<ul>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<p class="category_name">Category 3</p>
				<ul>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
					</li></li>
				</ul>
			</div>
		</div><!-- end .row -->
	</div><!-- end .container -->
</section><!-- end .product_description -->
