
	<li><a href="#" alt="Pinterest" title="Pinterest"><%= image_tag 'Pinterest.png' %></a></li>
	<li><a href="#" alt="Instagram" title="Instagram"><%= image_tag 'Instagram.png' %></a></li>
	<li><a href="#" alt="Twitter" title="Twitter"><%= image_tag 'Twitter.png' %></a></li>
	<li><a href="#" alt="Facebook" title="Facebook"><%= image_tag 'Facebook.png' %></a></li>
	<li><a href="#" alt="Newsletter" title="Newsletter">TODO: Newsletter</a></li>